<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>SeeClouds</title>
  <meta name="description" content="Cloud identifier">
  <meta name="keywords" content="Cloud Machine learning Pingendo Bootstrap">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="static/colorful.css">
  <!-- Script: Navbar on-top -->
  <script src="static/js/navbar-ontop.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand smoothScroll" href="#cover">SeeClouds</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation" style=""> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar3SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link smoothScroll" href="#mission">Motivation</a>
          </li>
          <li class="nav-item mx-2 mb-2 my-md-0">
            <a class="nav-link smoothScroll" href="#cloud_type"> Types of Clouds</a>
          </li>
          <li class="nav-item mx-2 mb-2 my-md-0">
            <a class="nav-link smoothScroll" href="#analysis">Model Creation</a>
          </li>
          <li class="nav-item mx-2 mb-2 my-md-0">
            <a class="nav-link smoothScroll" href="#clouds"> Identify your Cloud</a>
          </li>
          <li class="nav-item mx-2 mb-2 my-md-0">
            <a class="nav-link smoothScroll" href="#team">Meet the Team</a>
          </li>
        </ul>
        <a class="btn navbar-btn btn-outline-light" href="#contact"> Contact us </a>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center cover d-flex flex-column bg-light cover bg-fixed" id="cover" style="background-image: url(static/assets/team/sky_bg.jpg); background-position: center bottom; background-size: cover;" data-anchor="cover">
    <div class="container my-auto">
      <div class="row">
        <div class="mx-auto col-lg-6 col-md-8" style="">
          <h1 class="display-1 mb-0 mt-5 big-title" style="	transform:  translateX(-28%);">SeeClouds</h1>
          <h3 class="mb-4" contenteditable="true" style="color: #f3f3f3;"><b>Helping you tell the difference between cirrus and cumulonimbus!</b></h3>
          <p style="color: #f3f3f3;"><b>Using the SeeClouds app, upload an image of the sky and find out the name of the clouds you are looking at. Also help us do a better job of identifying clouds by uploading images to better train our model.</b></p>
        </div>
      </div>
    </div>
    <div class="container mt-auto">
      <div class="row">
        <div class="mx-auto col-lg-6 col-md-8 col-10">
          <a href="#mission"><i class="d-block fa fa-angle-down fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 filter-dark cover bg-fixed" style="background-image: url('static/assets/team/sky_bg.jpg');background-position:center bottom;background-size:cover;" id="mission" data-anchor="mission">
    <div class="container my-auto">
      <div class="row">
        <div class="col-md-8 p-3 text-white">
          <h2 class="mb-4">Our Motivation</h2>
          <p class="lead"><i>Our team set out to find the best machine learning  model  &nbsp;<br> that would differeniate between cloud types &nbsp;<br>  after training our model with images online.</i></p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light" id="cloud_type" data-anchor="cloud_type>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 > Types of Clouds</h1>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/cirrocumulus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Cirrocumulus</b> </p>
                <p class="mb-0">Cirrocumulus clouds are small rounded white/gray puffs that appear in long rows. A "mackerel sky" is when a lot of these clouds cover the sky - looking like the scales of a fish.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/cirrus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Cirrus</b> </p>
                <p class="mb-0">Cirrus clouds are made of ice crystals and look like long, thin, wispy white streamers. They are commonly known as "mare's tails" because they are shaped like the tail of a horse. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/cirrostratus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Cirrostratus</b> </p>
                <p class="mb-0">Cirrostratus clouds are high, thin sheet-like clouds that usually cover the entire sky. They are so thin that the sun/moon can sometimes shine through and appear to have a halo. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/cumulonimbus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Cumulonimbus</b> </p>
                <p class="mb-0">Cumulonimbus clouds are thunderstorm clouds and are associated with heavy rain, snow, hail, lightning, and sometimes tornadoes. They can grow up to 10 km in height.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/altocumulus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Altocumulus</b> </p>
                <p class="mb-0">Altocumulus clouds are mid-level, grayish-white with one part darker than the other. Altocumulus clouds usually form in groups.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/altostratus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Altostratus </b> </p>
                <p class="mb-0">Altostratus clouds are mid-level, gray or blue-gray clouds that usually covers the whole sky. The sun/moon may shine through these clouds, but will appear watery or fuzzy.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/stratus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Stratus</b> </p>
                <p class="mb-0">Stratus clouds are low and have a uniform gray in color and can cover most or all of the sky. Stratus clouds can look like a fog that doesn't reach the ground.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/cumulus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Cumulus</b> </p>
                <p class="mb-0">Cumulus clouds have vertical growth. They are puffy white or light gray clouds that look like floating cotton balls. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/stratocumulus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Stratocumulus</b> </p>
                <p class="mb-0">Stratocumulus clouds are low, lumpy, and gray. Sometimes they line up in rows and other times they spread out. Only light rain falls from stratocumulus clouds.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 p-4">
            <div class="row">
              <div class="col-3 p-0 d-flex align-items-center"> <img class="img-fluid d-block" src="static/assets/clouds/nimbostratus.jpg"> </div>
              <div class="col-9">
                <p class="lead mb-1"> <b>Nimbostratus</b> </p>
                <p class="mb-0">Nimbostratus clouds form a thick, dark layer across the sky. They are often thick enough to blot out the sun.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="py-5" id="analysis" data-anchor="analysis">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Creating our model</h1>
          <p class="lead"> Our approach to this project was to create and test different machine learning models that could classify clouds in images. Please study the diagram below to understand our process as we created and tested our model. </p>
        </div>
        <br>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12"><img class="img-fluid d-block mx-auto" src="static/assets/model/Slide1.gif" ></div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Choosing our Model</h1>
          <p class="lead mb-4">Our goal was to train and improve an image machine learning model. From our research, we found 5 feasible models:</p>
          <li class="lead "> AlexNet </li>
          <li class="lead "> InceptionResNetV2 </li>
          <li class="lead "> DenseNet </li>
          <li class="lead "> ResNet </li>
          <li class="lead "> VGGNet </li>
          <br>
          <p class="lead mb-4">We decided to choose InceptionResNetV2 after evaluating it's accuracy after training it on uncurated image data.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-5 p-4"> <img class="img-fluid d-block" src="static/assets/model/ires2.png" width="1500">
          <h4 class="my-3"> <b>#1</b> </h4>
          <p>InceptionResNetV2</p>
        </div>
        <div class="col-md-6 col-lg-5 p-4"> <img class="img-fluid d-block" src="static/assets/model/alex.png" width="1500">
          <h4 class="my-3"> <b>#2</b> </h4>
          <p>AlexNet</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Model evaluation</h1>
          <p class="lead mb-4">After training our models and making a choice on the best one, we curated our images to improve training and rerun our model code to create an "improved" IneceptionResNetV2 model.</p>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col-md-6 col-lg-5 p-4"> <img class="img-fluid d-block" src="static/assets/model/ver1.png" width="1500">
          <h4 class="my-3"> <b>#1</b> </h4>
          <p>Analysis of our initial model</p>
        </div>
        <div class="col-md-6 col-lg-5 p-4"> <img class="img-fluid d-block" src="static/assets/model/ver2.png" width="1500">
          <h4 class="my-3"> <b>#2</b> </h4>
          <p>Analysis of our "improved model"</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-light" id="clouds" data-anchor="clouds">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-2">Upload your image</h2>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-7 p-4"> <i class="d-block fa fa-upload fa-3x mb-2 text-muted"></i>
            <h4> <b>Upload</b> </h4>
            <p>Upload an image of your cloud. We can process .jpeg, .jpg, .png, and .gif images so get ready to be amazed.</p>
             <form id="upload-file" method="post" enctype="multipart/form-data">
                <fieldset>
                  <label for="file">Select a file</label> <br>
                  <input name="file" type="file"> 
                
                  <button id="upload-file-btn" type="button">Upload</button>
                </fieldset>
              </form>

              <div class = "status text-center"></div>

          </div>
          <div class="col-lg-6 col-md-7 p-4"> <i class="d-block fa fa-question fa-3x mb-2 text-muted"></i>
            <h4> <b>Prediction</b> </h4>
            <p> Now we tell you what cloud you're looking at!</p>
            <div class="predict"></div>
          </div>
        </div>
      
        <div class="col-md-12 upload-image"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 bg-light"> </div>
  </div>
  <div class="row">
  </div>
  <div class="py-5 text-center" id="team" data-anchor="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="mb-4">Meet the Team</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".yellow" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="static/assets/team/bella.jpg" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Bella Okiddy</b></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".cyan" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="static/assets/team/binh.png" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Binh Thai</b></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".red" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="static/assets/team/cam.png" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b> Cameron Tuttle</b></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".purple" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="static/assets/team/cossella.jpg" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Cossella Bensan</b></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".white" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="static/assets/team/eric.gif" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Eric Chee</b></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 px-4 mb-4 col-6 px-lg-5">
          <a data-toggle="modal" data-target=".blue" href="">
            <div class="card project">
              <img class="card-img rounded-circle" src="static/assets/team/sean.jpg" alt="Card image">
              <div class="card-body p-0">
                <p class="mt-3 mb-1"><b>Sean Lei</b></p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-white bg-dark" data-anchor="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="p-5 col-md-6">
          <h3><b>SeeClouds</b></h3>
          <p class="">
            <a href="#" target="_blank">Learn more about our Data Analytics bootcamp journey and the project using the links below</a>
          </p>
          <p class="mb-3">
            <a href="https://bootcamp.berkeley.edu/data/">Data Analytics Bootcamp</a>
          </p>
          <p class="mb-3">
          </p>
          <a href="https://github.com/baokiddy/ML_project" target="_blank"><i class="fa fa-github d-inline fa-lg mr-3 text-white"></i></a>
        </div>
        <div class="p-5 col-md-6">
          <h3>Get in touch</h3>
          <form>
            <div class="form-group">
              <input type="email" class="form-control form-control-sm" placeholder="Email" required="required" name="email"> </div>
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" id="inlineFormInput" placeholder="Subject" required="required" name="subject"> </div>
            <div class="form-group"><textarea class="form-control p-1 form-control-sm" id="exampleTextarea" rows="3" placeholder="Your message" name="message"></textarea></div>
            <button type="submit" class="btn btn-outline-light btn-sm">SUBMIT</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Copyright 2018 Pingendo - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade yellow">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Bella Okiddy</b> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="static/assets/team/bella.jpg"> </div>
            <div class="col-md-8 p-2">
              <p class="">Bella is a biomedical engineer with experience in healthcare advocacy, social impact entrepreneurship, and data analysis. Her data analytics tool kit made up of Python, SQL and Tableau. <br>
                <br>Personally, Bella is driven to use her experiences as an entrepreneur and engineer to bridge the gap between health-related technologies and the underserved communities that need them most.</p>
              <a target="_blank" href="https://www.linkedin.com/in/bokiddy/"><i class="fa d-inline fa-lg mr-2 text-muted fa-linkedin"></i></a>
              <a target="_blank" href="https://github.com/baokiddy"><i class="fa fa-github d-inline fa-lg mr-2 text-muted"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade cyan">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Binh Thai</b> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="static/assets/team/binh.png"> </div>
            <div class="col-md-8 p-2">
              <p class="">Binh is a Data Analyst working primarily in Python and JavaScript. <br>
                <br>Check out his varied and diverse personal projects on his github repository.</p>
              <a href="https://www.linkedin.com/in/bdthai81" target="_blank"><i class="fa d-inline fa-lg mr-2 text-muted fa-linkedin"></i></a>
              <a href="https://github.com/bdthai81" target="_blank"><i class="fa fa-github d-inline mr-2 fa-lg text-muted"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade red">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Cameron Tuttle</b> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="static/assets/team/cam.png"> </div>
            <div class="col-md-8 p-2">
              <p class="">Cameron is a dynamic professional passionate about energy, water and their roles in our sustainable future. Cameron brings strong engineering, data analysis, and interpersonal skills together to address today's most pressing problem: sustainability in the face of climate change. <br>
                <br>Currently a DNV GL engineering consultant with over seven years of experience in energy efficiency research, Cameron primarily performs independent program evaluation, metering and verification (EM&amp;V) of end-use energy and water consumption for utility and regulatory agency sponsored studies.</p>
              <a href="https://www.linkedin.com/in/cameron-tuttle-eit/" target="_blank"><i class="fa d-inline fa-lg mr-2 text-muted fa-linkedin"></i></a>
              <a href="https://github.com/CameronTuttle" target="_blank"><i class="fa fa-github d-inline mr-2 fa-lg text-muted"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade purple" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Cossella Bensan</b> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="static/assets/team/cossella.jpg"> </div>
            <div class="col-md-8 p-2">
              <p class="">Cossella a Product Operations Analyst in the healthcare industry. She's also a student wrapping up a bootcamp in Data Analytics.<br>
                <br>On the side, Cossella volunteers for a couple of organizations that involve two of her passions - travel and yoga.</p>
              <a href="https://www.linkedin.com/in/cossella/" target="_blank"><i class="fa d-inline fa-lg mr-2 text-muted fa-linkedin"></i></a>
              <a href="https://github.com/cossella" target="_blank"><i class="fa fa-github d-inline mr-2 fa-lg text-muted"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade white">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Eric Chee</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="static/assets/team/eric.gif"> </div>
            <div class="col-md-8 p-2">
              <p class="">Eric is a Data Analyst professional with a substantial educational background in python and manipulating data with a strong inclination to work with different type of databases.</p>
              <a href="https://www.linkedin.com/in/eric-chee" target="_blank"><i class="fa d-inline fa-lg mr-2 text-muted fa-linkedin"></i></a>
              <a href="https://github.com/ericcheechee" target="_blank"><i class="fa fa-github d-inline mr-2 fa-lg text-muted"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade blue" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title"><b>Sean Lei</b> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
        </div>
        <div class="modal-body bg-light">
          <div class="row">
            <div class="col-md-4 px-3">
              <img class="img-fluid d-block mx-auto rounded-circle" src="static/assets/team/sean.jpg"> </div>
            <div class="col-md-8 p-2">
              <p class="">Sean's professional background lies in the Accounting and Finance sectors. <br>
                <br> He is improving his data analytics skillset in order toto enhance the efficiency of his current work.</p>
              <a href="https://www.linkedin.com/in/sean-lei-4ab37046" target="_blank"><i class="fa d-inline fa-lg mr-2 text-muted fa-linkedin"></i></a>
              <a href="https://github.com/yseanlei" target="_blank"><i class="fa fa-github d-inline mr-2 fa-lg text-muted"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/javascript/smoothscroll.js"></script>
  <script type = "text/javascript" src = "static/js/upload.js"></script>

</body>

</html>